{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<h1 class="container">Mantenedor de Bodega</h1>
<!-- formulario de bodega -->
<form class="row g-4" method="POST" id="formulario1" novalidate>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-4 col-lg-4">

            <!-- categoria -->
            <div class="container-fluid">
            <div class="mb-3">

              <label for="selectBodega">Categoria</label>
              <select class="custom-select" name="selectBodega" id="selectBodega">
                <option selected></option>
                <option value="1">Perros</option>
                <option value="2">Gatos</option>
                <option value="3">Otros</option>
              </select>

            </div>
            <br><br>
            <!-- nombre -->
            <div class="col mb-3">
              <label for="name" class="form-label">Nombre del Producto</label>
              <input
                
                type="text"
                placeholder=""
                class="form-control"
                id="name"
                name="name"
                aria-describedby="nameHelp"
              />
            </div>
            <br><br>
            <!-- cantidad -->
            <div class="mb-3">
              <label for="cantProd" class="form-label">Cantidad</label>
              <input
                required
                type="number"
                placeholder="25"
                class="form-control"
                id="cantProd"
                name="cantProd"
                aria-describedby="cantProdHelp"
              />
              <div class="invalid-feedback">El campo id es obligatorio</div>
            </div>
          </div>
          </div>

          <!-- foto cliente -->
          <div class="col-sm-12 col-md-4 text-center" id="foto">
            <img style="height: 270px; width: 250px;" class="container-fluid" src="img/producto_4.png" alt="" />
          </div>
        </div>
        <!-- botones -->
        <div class="row container" id="botones">
          <div class="col text-center">
            <button type="submit" class="btn btn-primary">Nuevo</button>
            <button type="submit" class="btn btn-primary">Agregar</button>
          </div>
      </div>
      </div>
</form>

<!-- Tabla con registro de productos -->
<div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Categoría</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>27</td>
            <td>Perros</td>
            <td>Saco alimento Royan Canin</td>
            <td>Vendido</td>
            <td><a href="#">Eliminar</a></td>
          </tr>
          <tr>
            <td>28</td>
            <td>Gato</td>
            <td>Saco alimento don cuchito</td>
            <td>En bodega</td>
            <td><a href="#">Eliminar</a></td>
          </tr>
          <tr>
            <td>29</td>
            <td>Perros</td>
            <td>Saco alimento Royan Canin</td>
            <td>Entregado</td>
            <td><a href="#">Eliminar</a></td>
          </tr>
        </tbody>
    </table>
</div>

{% endblock %}