{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<h1 class="container">Detalle de boleta 535</h1>
<div class="container">

      <div class="row">
        <div class="col">
          <div class="order-tracking completed">
            <span class="is-complete"></span>
            <p>Vendido<br><span>Lun, June 24 10:15</span></p>
          </div>
        </div>
        <div class="col">
          <div class="order-tracking completed">
            <span class="is-complete"></span>
            <p>Despachado<br><span>Mar, June 25 15:12</span></p>
          </div>
        </div>
        <div class="col">
          <div class="order-tracking">
            <span class="is-complete"></span>
            <p>Entregado<br><span> --</span></p>
          </div>
        </div>
      </div>
</div>
    



<div class="container">
          <table class="container">
          <thead>
            <tr>
              <th>Categoría</th>
              <th>Producto</th>
              <th>Precio</th>
              <th>% Subscriptor</th>
              <th>% Oferta</th>
              <th>% Desc Total</th>
              <th>Descuentos</th>
              <th>Precio a Pagar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alimentos</td>
              <td>PeluCrunch</td>
              <td>$5.000</td>
              <td>10%</td>
              <td>25%</td>
              <td>700</td>
              <td>7300</td>
              <td>8000</td>
            </tr>
            <tr>
              <td>Accesorios</td>
              <td>Juguete Pelota</td>
              <td>$2.500</td>
              <td>5%</td>
              <td>10%</td>
              <td>700</td>
              <td>7300</td>
              <td>8000</td>
            </tr>
          </tbody>
        </table>

</div>
<div class="container d-flex align-items-end flex-column">
      <div>Precio sin IVA <span id="precio">$ 13 540</span></div>
      <div>Valor del IVA (19%) <span id="precio">$ 2 543</span></div>
  <div>Total a pagar <span id="precio">$ 16 950</span></div></div>
</div>
  

{% endblock %}   
