
{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block titulo %}

Cambiar Password
{% endblock titulo %}
{% block content %}
<div class="container text-center py-0">
    <h1>Cambiar Contraseña</h1>

    <form class="row g-4 mt-4" method="POST" id="form">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <!-- datos del cliente -->
            <div class="col-sm-12 col-md-4 col-lg-4">
      


              <div class="col mb-3">
                {% csrf_token %}
                {{ form.as_p }}
              </div>
              <div class="text-center">
                <div>
                  <button class="btn btn-primary" type="submit">Cambiar Contraseña</button>
                </div>

              </div>
      
      
      
      
      
            </div>
      
          </div>
      
        </div>
        </div>
      </form>
  </div>

{% endblock %}   