{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="container">
      <div class="row">
        <div class="col-sm">
          <img style="height: 600px;" src="/media/{{ producto.imagenProducto }}" alt="">
        </div>
        <div class="col-sm">
          <br><br>
          <h1>{{ producto.nombreProducto }}</h1>
          <h2 class="text-info">Disponible en Bodega</h2>
          <p>{{ producto.precioProducto }}</p>
          <p>Descripción:</p>
          <p>
            {{ producto.descripcionProducto }}
          </p>
          <a href="registro.html"><button class="btn btn-primary btn-lg">Comprar</button></a>
          <a href="carrito.html"><button class="btn btn-outline-primary btn-lg">Agregar al carrito</button></a>
        </div>
      </div>
</div>

{% endblock %}   