
{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div id="carouselExampleInterval" class="carousel slide container" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="static/core/img/home_1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="6000">
      <img src="static/core/img/home_2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="static/core/img/home_2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previo</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<main class="container my-4">
  <h1>Productos Destacados</h1>



  {% if list %}
  <section class="slick-carousel">
    {% for productos in list %}
    <!-- producto 1 -->
    <div class="card_productos">
      
      <section class="p-5">
          <a href="{% url 'ficha' productos.idProducto %}">
            <img src="/media/{{ productos.imagenProducto }}" class="card-img-top" alt="..." />

            <div class="card-body">
              
              <h4 class="mt-4 fw-6">EN OFERTA!</h4>
              
              <h3>{{ productos.nombreProducto }}</h3>


              {% if productos.categoriaProducto.nombreCategoria == 'Perro' %}
              <h6 class="mt-0 " style="color: green;">{{ productos.categoriaProducto.nombreCategoria }}</h6>
              {% elif productos.categoriaProducto.nombreCategoria == 'Gato' %}
              <h6 class="mt-0 " style="color: red;">{{ productos.categoriaProducto.nombreCategoria }}</h6>
              {% elif productos.categoriaProducto.nombreCategoria == 'Otros' %}
              <h6 class="mt-0 " style="color: yellow;">{{ productos.categoriaProducto.nombreCategoria }}</h6>
              {% else %}
              <h6 class="mt-0 ">{{ productos.categoriaProducto.nombreCategoria }}</h6>
              {% endif %}

              <h2 class="fw-1">$ {{ productos.precioProducto }}</h2>
            </div>
          </a>
      </section>


      
    </div>
    {% endfor %}


  </section>
  {% else %}
    <h1>no hay datos</h1>
  {% endif %}



</main>


<!-- CARD OFERTA -->
<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">OFERTA IRRESISTIBLE</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Por compras SUPERIORES a $ 20.000 ya estas concursando por una prenda
      de vestir
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <a href="templates/core/ropa.html">
      <button
        
        class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
        type="button"
        >
        QUIERO SABER MÁS
      </button>
      </a>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">CUPON DE DESCUENTO</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Ahorra al máximo con nuestro cupón: ¡Descuento exclusivo!
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button id="copy-email"
        class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
        type="button"
      >
        OBTENER DESCUENTO
      </button>
    </div>
  </div>
</div>

{% endblock %}

