
{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<h1 class="container mt-4">{{ titulo }}</h1>



<!-- formulario inicar sesion -->
<form class="row g-4 mt-4" method="POST" id="formulario1" novalidate>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <!-- datos del cliente -->
        <div class="col-sm-12 col-md-4 col-lg-4">


          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Contraseña</label>
          </div>


          <!-- buton login -->
          <div class="mt-4">
            <button type="submit" class="btn btn-primary w-100">Iniciar Sesion</button>
          </div>

          <!-- not register yet? -->
          <div class="mt-3 container">
            No tienes Cuenta? <a href="{% url 'registro' %}" class="text-dark fw-bold"> Registrate Ahora!</a>

          </div>
        </div>

      </div>

      <!-- botones -->
      <div class="row " id="botones">

    </div>
    </div>
</form>

{% endblock %}

