
{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!-- Tabla con historial -->
<div class="container">
    <h1>Historial de compras <span><i class="bi bi-cart"></i>
    </span></h1>
</div>
<table class="container">
      <thead>
        <tr>
          <th>Nro boleta</th>
          <th>Fecha venta</th>
          <th>Fecha despacho</th>
          <th>Fecha entrega</th>
          <th>Monto total</th>
          <th>Estado actual</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>425</td>
          <td>1/1/2022</td>
          <td>1/1/2022</td>
          <td>1/1/2022</td>
          <td>$15.000</td>
          <td>Entregado</td>
          <td><a href="#">Ver detalle</a></td>
        </tr>
        <tr>
          <td>535</td>
          <td>5/2/2022</td>
          <td>5/2/2022</td>
          <td>5/2/2022</td>
          <td>$10.000</td>
          <td>Despachado</td>
          <td><a href="boleta.html">Ver detalle</a></td>
        </tr>
        <tr>
          <td>675</td>
          <td>7/3/2022</td>
          <td>7/3/2022</td>
          <td>7/3/2022</td>
          <td>$12.000</td>
          <td>Vendido</td>
          <td><a href="#">Ver detalle</a></td>
        </tr>
        <tr>
          <td>734</td>
          <td>2/4/2022</td>
          <td>2/4/2022</td>
          <td>2/4/2022</td>
          <td>$7.000</td>
          <td>Entregado</td>
          <td><a href="#">Ver detalle</a></td>
        </tr>
      </tbody>
</table>
    
{% endblock %}   
