
{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}

{{ user.first_name }} {{ user.last_name }}
{% endblock titulo %}
{% block content %}
<!-- titulo -->
<div class="container text-center py-0">
  <h1>Editar Perfil {{ user.username }}</h1>
</div>
<!-- formulario de cliente -->
<form class="py-4 g-4" method="POST" enctype="multipart/form-data" id="form">
  <div class="row fs-6 justify-content-center">
    
    <div class="col-mb-6 col-sm-4">
      {% csrf_token %}


      <div class="col mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}

      </div>

      <div class="row">
        <div class="col mb-3">
          {{ form.first_name.label_tag }}
          {{ form.first_name }}
      
        </div>
        <div class="col mb-3">
          {{ form.last_name.label_tag }}
          {{ form.last_name }}
      
        </div>
      </div>

      <div class="col mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}

      </div>


      






      
    </div>


      
    <div class="row" id="botones">
          <div class="col text-center">
            <input type="submit" class="btn btn-primary ancho-150px" value="Guardar">
          </div>
    </div>
      
  </div>

</form>

{% endblock %}   