{% extends 'core/base.html' %}
{% load static %}

{% load custom_filters %}

{% block content %}


{% if form.nombreProducto.value %}
<div class="container text-center text-info py-3">
  <h1>{{ form.nombreProducto.value }}</h1>
</div>
{% else %}
<div class="container text-center py-3">
  <h1>Mantenedor de Productos</h1>
</div>
{% endif %}

{% if form %}
<form class="row py-4 g-4" method="POST" enctype="multipart/form-data" id="formulario">
      <!-- todos los datos del cliente -->
  <div class="row justify-content-center">
    <div class="col-3">
      {% csrf_token %}



      <div class="col mb-3">
            {{ form.nombreProducto.label_tag }}
            {{ form.nombreProducto }}
      </div>

      <div class="col mb-3">
            {{ form.descripcionProducto.label_tag }}
            {{ form.descripcionProducto }}
      </div>

      <div class="col mb-3">
            {{ form.precioProducto.label_tag }}
            {{ form.precioProducto }}
      </div>
      
      
    </div>
      
    <div class="col-3">

      <!-- <div class="col mb-3">
        {% if form.imagenProducto.value %}
        <img style="height: 200px;" id="imagen-producto" src="/media/{{ form.imagenProducto.value }}" alt="Vista previa de la imagen">
        <input type="hidden" name="nombre_archivo" value="{{ form.imagenProducto.value }}">
        {% else %}
        <img id="imagen-producto" src="{% static 'core/images/sin-imagen.png' %}" alt="Vista previa de la imagen">
        <input type="hidden" name="nombre_archivo" name="id_nombre_archivo" value="">
        {% endif %}
      </div> -->


                

      <div class="col mb-3">
        {{ form.categoriaProducto.label_tag }}
        {{ form.categoriaProducto }}
      </div>
      <div class="col mb-3">
        {{ form.disponibilidadProducto.label_tag }}
        {{ form.disponibilidadProducto }}
      </div>

      <div class="row">
        <div class="col mb-3">
          {{ form.descSubscriptor.label_tag }}
          {{ form.descSubscriptor }}
        </div>
        <div class="col mb-3">
          {{ form.descuento_oferta.label_tag }}
          {{ form.descuento_oferta }}
        </div>
      </div>
      
    </div>

    <div class="col-3">
      <img style="height: 200px;" src="/media/{{ form.imagenProducto.value }}" alt="Vista previa de la imagen">



      <div class="col mb-3">

        {{ form.imagenProducto.label_tag }}
        {{ form.imagenProducto }}
      </div>
    </div>
      
    <div class="row" id="botones">
          <div class="col text-center">

            {% if id != '-1' %}
            <input type="submit" class="btn btn-primary"  value="Actualizar Producto">
            <a class="btn btn-outline-primary" href="{% url 'productos' 'ins' -1 %}">Nuevo</a>

            {% else %}
            <input type="submit" class="btn btn-primary"  value="Agregar Producto">

            <a class="btn btn-outline-primary" href="{% url 'productos' 'ins' -1 %}">Nuevo</a>

            {% endif %}


            
            {% if id != '-1' %}
            <a class="btn btn-danger" href="{% url 'productos' 'del' id %}">Eliminar</a>
            {% endif %}
            
            {% if mesg %}
            
            <div class="container">
              {% if mesg_class == 'success' %}
              <div id="form_message" class="alert alert-success" role="alert">{{ mesg }}</div>
              {% elif mesg_class == 'error' %}
              <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
              {% elif mesg_class == 'ins' %}
              <div id="form_message" class="alert alert-primary" role="alert">{{ mesg }}</div>
              {% else %}
              <div id="form_message" class="alert alert-info" role="alert">{{ mesg }}</div>
              {% endif %}
            </div>


            {% endif %}
          </div>
    </div>
        
  </div>

</form>
{% endif %}

{% if list %}
<table class="container table table-sm table-hover">
  <thead>
    <tr>
        <th>ID</th>
        <th>Categoria</th>
        <th>Nombre</th>
        <!-- <th>Descripcion</th> -->
        <th>Precio</th>
        <th>Subscriptor</th>
        <th>Oferta</th>
        <th>Imagen</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for producto in list %}
    <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.categoriaProducto }}</td>
        <td>{{ producto.nombreProducto }}</td>
        <!-- <td>{{ producto.descripcionProducto }}</td> -->
        <td>{{ producto.precioProducto|formatear_dinero }}</td>
        <td>{{ producto.descSubscriptor|formatear_porcentaje }}</td>
        <td>{{ producto.descuento_oferta|formatear_porcentaje }}</td>
        <td><img src="/media/{{ producto.imagenProducto }}" style="height: 150px;" alt=""></td>
        

        <td>
          <a href="{% url 'productos' 'upd' producto.id %}" class="btn btn-primary btn-lg"><i class="bi bi-tools"></i>
          </a>
        </td>
        <td>
          <!-- trigger modal -->
          <button type="button" class="btn btn-danger btn-lg bi bi-trash3-fill" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
          <!-- <a href="{% url 'productos' 'del' producto.id %}" class="btn btn-danger btn-lg"><i class="bi bi-trash3-fill"></i>
          </a> -->
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Producto: {{ producto.id }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Estas seguro que quieres eliminar el producto {{ producto.nombreProducto }} {{ producto.id }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Cancelar</button>
                  <a href="{% url 'productos' 'del' producto.id %}" class="btn btn-danger btn-lg">Eliminar <i class="bi bi-trash3-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}   

{% block script %}
  <script src="{% static 'core/js/producto.js' %}"></script>
{% endblock script %}
