{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<h1 class="container">Mantenedor de Productos</h1>

<!-- editar productos -->
<form class="row g-4" method="POST" id="formulario1" novalidate>
      <div class="container-fluid">
        <!-- todos los datos del cliente -->
        <div class="row justify-content-center">
          <!-- datos del cliente -->
          <div class="col-sm-12 col-md-4 col-lg-4">

            <!-- id -->
            <div class="mb-3">
              <label for="id_producto">ID del Producto</label>
              <input
                type="number"
                id="id_producto"
                name="id_producto"
                class="form-control"
                placeholder="35"
                value="" 
                required
              />
            </div>

            <!-- categorias -->
            <div class="col mb-3">
              <label for="selectCategoria" class="form-label">Categoría</label>
              <select class="custom-select" name="selectCategoria" id="selectCategoria">
                <option selected></option>
                <option value="1">Perros</option>
                <option value="2">Gatos</option>
                <option value="3">Otros</option>
              </select>
              <div class="invalid-feedback">Debes seleccionar una opcion</div>
            </div>              
            
            <!-- nombre producto -->
            <div class="col mb-3">
              <label for="name" class="form-label">Nombre Producto</label>
              <input
                
                type="text"
                placeholder="Saco Alimento 10 kg"
                class="form-control"
                id="name"
                name="name"
                />
            </div>

            <!-- descripcion producto -->
            <div class="col mb-3">
              <label for="descripcion" class="form-label">Descripción del Producto</label>
              <textarea
                type="text"
                placeholder="Alimento para perros"
                class="form-control"
                id="descripcion"
                name="descripcion"

              ></textarea>

            </div>
            
            <!-- precio producto -->
            <div class="col mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input
                type="number"
                placeholder="8000"
                class="form-control"
                id="precio"
                name="precio"

              />

            </div> 

            <!-- descuento subscriptor -->
            <div class="col mb-3">
              <label for="descuento" class="form-label">Descuento Subscriptor</label>
              <input
                type="number"
                placeholder="5%"
                class="form-control"
                id="descuento"
                name="descuento"

              />

            </div>            
            
            <!-- descuento por oferta -->
            <div class="col mb-3">
              <label for="descuento" class="form-label">Descuento por Oferta</label>
              <input
                
                type="number"
                placeholder="2%"
                class="form-control"
                id="descuento"
                name="descuento"

              />

            </div>
            
          </div>

          <!-- foto cliente -->
          <div class="col-sm-12 col-md-4 text-center" id="foto">
            <img class="container-fluid" src="img/producto_1.png" alt="" />
            <div>
              <label for="formFileLg" class="form-label"
                >Cambiar foto</label
              >
              <input
                class="form-control form-control-lg"
                id="formFileLg"
                type="file"
              />
            </div>
          </div>
        </div>
        <!-- botones -->
        <div class="row" id="botones">
          <div class="col text-center">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="reset" class="btn btn-outline-primary">Nuevo</button>
            <button type="reset" class="btn btn-danger">Eliminar</button>

          </div>
      </div>
      </div>
</form>

<!-- tabla productos -->
<table class="container">
      <thead>
        <tr>
          <th>ID</th>
          <th>Categoria</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>% Desc. Subscriptor</th>
          <th>% Desc. Oferta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>423</td>
          <td>Gato</td>
          <td>Saco Alimento Royal Canin</td>
          <td>Alimento de perros 3kg</td>
          <td>$15.000</td>
          <td>2%</td>
          <td>5%</td>
        </tr>
        <tr>
          <td>423</td>
          <td>Gato</td>
          <td>Saco Alimento Royal Canin</td>
          <td>Alimento de perros 3kg</td>
          <td>$15.000</td>
          <td>2%</td>
          <td>5%</td>
        </tr>
        <tr>
          <td>423</td>
          <td>Gato</td>
          <td>Saco Alimento Royal Canin</td>
          <td>Alimento de perros 3kg</td>
          <td>$15.000</td>
          <td>2%</td>
          <td>5%</td>
        </tr>

      </tbody>
</table>

{% endblock %}   