{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    
<h1 class="container">Historial de ventas</h1>
<table class="container">
        <thead>
          <tr>
            <th>Nro boleta</th>
            <th>Fecha</th>
            <th>Nombre cliente</th>
            <th>Subscrito</th>
            <th>Monto total</th>
            <th>Estado actual</th>
            <th>Detalle</th>
            <th>Cambiar estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>425</td>
            <td>1/1/2022</td>
            <td>Claudio Parra</td>
            <td>No</td>
            <td>$15.000</td>
            <td>Entregado</td>

            <td><a href="boleta.html">Ver detalle</a></td>
            <td><a href="#">Anulado</a> <a href="#">Vendido</a> <a href="#">Despachado</a> <a href="#">Entregado</a></td>
          </tr>
          <tr>
            <td>535</td>
            <td>5/2/2022</td>
            <td>Ronny Radke</td>
            <td>Si</td>
            <td>$10.000</td>
            <td>Despachado</td>

            <td><a href="boleta.html">Ver detalle</a></td>
            <td><a href="#">Anulado</a> <a href="#">Vendido</a> <a href="#">Despachado</a> <a href="#">Entregado</a></td>
          </tr>
          <tr>
            <td>675</td>
            <td>7/3/2022</td>
            <td>Billy Joe Amstrong</td>
            <td>No</td>
            <td>$12.000</td>
            <td>Vendido</td>
            <td><a href="boleta.html">Ver detalle</a></td>
            <td><a href="#">Anulado</a> <a href="#">Vendido</a> <a href="#">Despachado</a> <a href="#">Entregado</a></td>
          </tr>
        </tbody>
</table>



    
{% endblock %}  